---
const { info } = Astro.props;
const { program } = Astro.props;
const { specifikationer } = Astro.props;
const { pris } = Astro.props;
---

<div>
  <h2>Information om eventet:</h2>
  <h4>Info:</h4>
  <p>{info}</p>
  <br />
  <h4>Aften byder på:</h4>
  <p>{program}</p>
  <br />
  <h4>Specifikationer:</h4>
  <p>{specifikationer}</p>
  <br />
  <p>Pris pr. person: {pris},-</p>
</div>

<style>
  h2 {
    padding-bottom: 46px;
  }
  div {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-width: 560px;
  }
</style>
