---
import Eventcard from "./Eventcard.astro";
---

<article>
  <h5>Nyheder</h5>
  <h2>Vinsmagninger og andre oplevelser</h2>
  <p>Til vores vinsmagning får du mulighed for at smage på et nøje udvalgt sortiment af både klassiske og unikke vine. Det bliver en lærerig, hyggelig og smagfuld oplevelse for både nybegyndere og kendere.</p>
  <div>
    <button></button><button></button><button></button>
  </div>
  <Eventcard />
</article>
