---

---

<footer>
  <div class="footer_container">
    <div class="footer_main">
      <div class="kontakt_os_footer">
        <h4>Kontakt os</h4>
        <div class="kontakt_informationer">
          <p>Telefon</p>
          <p>+45 24 26 43 48</p>
          <p>@E-mail</p>
          <p>info@kahlenbergchristiansen.dk</p>
          <p>Instagram</p>
          <p>@kahlenberg_christiansen</p>
          <p>Adresse</p>
          <p>Kohave 15, 5300 Kerteminde</p>
        </div>
        <div class="sociale_medier">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="nyhedsbrev_footer">
        <h4>Nyhedsbrev</h4>
        <p>Tilmeld dig vores nyhedsbrev, for at holde dig opdateret på kommende nyheder og events</p>
        <form>
          <input type="text" id="email" name="Email" placeholder="@Email" style="border-radius: 7.5px;" />
          <button type="button" id="button">Tilmeld</button>
          <input type="checkbox" id="checkbox" style="height: 30px;" />
          <label for="checkbox" id="label">Ved at tilmelde dig vores nyhedsbrev, erklærer du dig enig i vores Privatlivspolitik og giver samtykke til at modtage opdateringer og markedsføring på e-mail, sms, sociale medier og andre digitale platforme fra Kahlenberg & Christianse om nyheder, information, fordele, tilbud og events. Du kan altid tilbagekalde dit samtykke.</label>
        </form>
      </div>
    </div>
    <hr />
    <div class="bottom_footer">
      <div><p class="arr">&copy; 2024 Kahlenberg & Christiansen. All rights reserved.</p></div>
      <div class="privacy_terms_cookies">
        <a href="#" class="privacy">Privacy Policy</a>
        <a href="#" class="terms">Terms of Service</a>
        <a href="#" class="cookies">Cookies Settings</a>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer_container {
    background-image: url(/src/assets/vektor/logo_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-bg-red);
    color: var(--color-white);
    padding: 50px;
    height: 100vh;
  }

  .footer_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-block: 150px;
  }

  .nyhedsbrev_footer {
    display: grid;
    grid-column: 3/4;
  }

  .kontakt_informationer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0px;
  }

  .sociale_medier {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px;
  }
  .sociale_medier i {
    font-size: 2.5rem;
  }

  form {
    display: grid;
    grid-template-columns: 0.35fr 4fr 0fr 0fr 1fr;
    grid-template-rows: 1fr 2.5fr;
    gap: 10px;
  }

  #email {
    grid-column: span 4;
    grid-row: span 1;
  }

  #button {
    grid-column: 5/6;
    grid-row: span 1;
  }

  #checkbox {
    grid-column: span 1;
    grid-row: 2/3;
    align-self: baseline;
  }

  #label {
    grid-column: 2/6;
    grid-row: 2/3;
  }

  a {
    text-decoration: underline;
  }

  .bottom_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px;
  }

  .privacy_terms_cookies {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
  }
</style>
