---
const { text, header, link } = Astro.props;
---

<article>
  <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
  <h2>{header}</h2>
  <p>{text}</p>
  <p>{link}</p>
</article>

<style>
  article {
    background-color: #faedcd;
    padding: 34px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 350px;
    margin: auto;
   
  }

  h1,
  h2,
  p {
    color: black;
  }

  @media (min-width: 600px) {
   
  }
</style>
