---

---

<section>
  <div class="img_section"><img src="/src/assets/vinflasker.png" alt="Vin billede" /></div>
  <div class="indhold_section">
    <h2>Udforsk udvalget fra vores vinproducenter</h2>
    <p>Hvis i vil have mere information om vinproducenter og vin...</p>
    <a href="#" class="read-more">
      Læs mere
      <span aria-hidden="true" style="display:inline-block; width:1em; height:1em;">
        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 6 15 12 9 18"></polyline>
        </svg>
      </span>
    </a>
  </div>
</section>

<style>
  a {
    color: black;
  }

  section {
    background-color: var(--color-bg-beige);
    background-image: url(/src/assets/omos_background2.png);
    background-repeat: no-repeat;
    height: auto;
  }

  .img_section {
    width: auto;
    height: auto;
    padding: 50px;
  }

  .indhold_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-block: 50px;
    padding-inline: 50px;
  }

  h2 {
    width: 500px;
    line-height: 4rem;
  }

  p {
    padding-bottom: 1rem;
  }

  @media (min-width: 800px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      height: 45vw;
    }
    .img_section {
      width: 100%;
      height: 100%;
      padding: 50px;
    }

    .indhold_section {
      /* padding-inline: 0; */
    }
  }
</style>
