---
import OmOsProfilcards from "./Om_os_profilcards.astro";
import redlogo from "../assets/vektor/red_logo.svg";
---

<section>
  <h2>Hvem er Kahlenberg & Chrisiansen</h2>
  <h6>Mød personerne bag firmaet</h6>
  <div class="person-section">
    <OmOsProfilcards header="Thomas Kahlenberg " text="Lidt om Thomas" />
    <OmOsProfilcards header="Maria Kesby " text="Lidt om Maria" />
  </div>
  <div class="logo-section">
    <div class="logo-container">
      <img src={redlogo.src} alt="Company logo" class="logo" />
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--color-bg-red);
    color: var(--color-white);
    position: relative;
    z-index: 1;
  }

  .logo-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
  }

  .logo-container {
    max-width: 800px;
    width: 100%;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  section {
    padding-block: 50px;
    padding-inline: 50px;
  }

  section h2 {
    margin-bottom: 1rem;
  }
  section h6 {
    margin-bottom: 1rem;
  }

  @media (min-width: 800px) {
    .person-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }

    section {
      padding-block: 125px;
      padding-inline: 175px;
    }
    section h6 {
      margin-bottom: 4rem;
    }
  }
</style>
