---

---

<section>
  <div class="indhold">
    <h2>Uforglemmelige vinsmagninger</h2>
    <p>Vores samarbejde med diverse kunder tillader os at skabe eksklusive vinsmagnings oplevelser som spiller på sanserne. Deltag i fantastiske arrangementer med vin og mad parringer, eller kom med i samarbejdet om at få vores vine til jeres behov.</p>
    <a href="#" class="read-more">
      Læs mere
      <span aria-hidden="true" style="display:inline-block; width:1em; height:1em;">
        <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 6 15 12 9 18"></polyline>
        </svg>
      </span>
    </a>
  </div>
</section>

<style>
  a {
    color: var(--color-bg-beige);
  }

  section {
    background-color: var(--color-bg-beige);
    background-image: url(/src/assets/omos_vinsmag_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vw;
    color: var(--color-bg-beige);
  }

  .indhold {
    padding: 0 50px;
    padding-top: 110px;
    width: auto;
  }

  h2 {
    width: auto;
    line-height: 2rem;
  }

  p {
    padding-bottom: 1rem;
  }

  a:hover {
    color: var(--color-white);
  }

  @media (min-width: 800px) {
    section {
      height: 45vw;
    }

    .indhold {
      padding: 175px;
      padding-top: 50px;
      width: auto;
    }

    h2 {
      width: 500px;
      line-height: 4rem;
    }
  }

  @media (min-width: 1100px) {
    .indhold {
      padding-top: 200px;
    }
  }

  @media (max-width: 400px) {
    section {
      height: 60vh;
      width: 100%;
      line-height: 3rem;
    }
  }
</style>
