---
const { profilbillede, header, title, text } = Astro.props;
---

<article class="profilcard">
  <img src={profilbillede.src} alt=" Profilbillede" loading="lazy" />
  <div class="text">
    <h4>{header}</h4>
    <h6>{title}</h6>
    <p>{text}</p>
  </div>
</article>

<style>
  .profilcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1rem;
    max-width: 400px;
  }
</style>
