---
import { Image } from "astro:assets";
import image7 from "../assets/image7.png";
---

<div class="grid">
  <Image src={image7} alt="" />
  <div class="textsection">
    <h2>Kom på en kulinarisk smagsoplevelse - tilmeld dig vores vinsmagninger her</h2>
    <p>Velkommen til en verden af raffinement og sanselig nydelse. Vores eksklusive vinsmagningsarrangementer byder på nøje udvalgte vine præsenteret af erfarne sommelierer i stemningsfulde og elegante omgivelser. En uforglemmelig oplevelse for den kræsne vinelsker, der ønsker det ypperste inden for smag, viden og atmosfære</p>
  </div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #411415;
    padding-bottom: 200px;
  }
  img {
    width: 629px;
    height: auto;
    justify-self: center;
  }
</style>
