---

---

<div class="background">
  <div class="grid"><slot /></div>
</div>

<style>
  .background {
    background: #411415;
    width: 100%;
  }
  .grid {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (min-width: 800px) {
    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 0.9fr 2fr;
      padding-bottom: 150px;
      max-width: 1450px;
      margin: auto;
      gap: 0px 166px;
    }
  }
</style>
