---

---

<div>
  <div class="center">
    <h2>Udforsk andre vingårde</h2>
    <p>Læs mere om vores udvalg fra andre vingårde</p>
    <slot />
  </div>
</div>

<style>
  div {
    background-image: url(../assets/producent_background.png);
    height: 1098px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .center {
    align-content: center;
  }
</style>
